@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
@font-face {
  font-family: "futura heavy";
  src: url("/images/futura heavy font.ttf");
}
@font-face {
  font-family: "futura light";
  src: url("/images/fonts/futura light bt.ttf");
}
@font-face{
  font-family: "futura future";
  src: url("/images/fonts/futura.ttf");
}
@font-face {
  font-family: "menlo";
  src: url("/images/fonts/menlo.ttf");
}

/*\ TODO:
|*| Create 3 different sizes for images- low 1920x1980, high 3840x2160, raw 6000x4000
|*| Force a pre-render of all the images to system memory
|*| Create a starting page with warning and options for resolution
\*/

/* General styles */
body{
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: ubuntu, san francisco, Ariel, sans-serif;
  //background-image: url(/images/pastry_3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#curr_back{
  position: absolute;
  z-index: -5;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
}
#prev_back{
  position: absolute;
  z-index: -10;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}
p{
  color: white;
}

/* Card styles */
#card_layout{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
}
#lower, #higher, #raw{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: black;
}
#lower{
  width: 25%;
  //flex: auto;
}
#higher{
  width: 25%;
  //flex: auto;
}
#raw{
  width: 25%;
  //flex: auto;
}
#lower p, #higher p, #raw p{
  color: black;
  font-size: 20px;
  font-weight: 400;
}
#lower:hover, #higher:hover, #raw:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  cursor: pointer;
}
#lower img, #higher img, #raw img{
  width: 270px;
  margin-bottom: 15px;
}
.card-list{
  list-style-type: space-counter;
}
.notch{
  width: 160px;
  height: 15px;
}
