@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
@font-face {
  font-family: "futura heavy";
  src: url("/images/futura heavy font.ttf");
}
@font-face {
  font-family: "futura light";
  src: url("/images/fonts/futura light bt.ttf");
}
@font-face{
  font-family: "futura future";
  src: url("/images/fonts/futura.ttf");
}
@font-face {
  font-family: "menlo";
  src: url("/images/fonts/menlo.ttf");
}


/* General styles */
body{
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: ubuntu, san francisco, Ariel, sans-serif;
  //background-image: url(/images/pastry_3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#curr_back{
  position: absolute;
  z-index: -5;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
}
#prev_back{
  position: absolute;
  z-index: -10;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}
p{
  color: white;
}
