@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
@font-face {
  font-family: "futura heavy";
  src: url("/images/futura heavy font.ttf");
}

/* General styles */
body{
  margin: 0;
  padding: 0;
  font-family: san francisco, ubuntu, Ariel, sans-serif;
}
#sample{
  text-align: center;
  font-size: 30px;
  margin-bottom: 500px
}
