@import url('https://fonts.googleapis.com/css?family=Ubuntu');/*Standard font for any general page content. name == Ubuntu */
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");/*Real monospace font. name ==  source code pro*/
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
} /*Apple's San Francisco font is crisp, sans-serif, and modern */
@font-face {
  font-family: "futura heavy";
  src: url("/images/futura heavy font.ttf");
} /*Futura heavy is Acumen's standardized font. Only to be used for page titles */
@font-face {
  font-family: "futura light";
  src: url("/images/fonts/futura light bt.ttf");
} /*Futura light is a sharper alternative to San Francisco. Works loosely as a monospace */
@font-face{
  font-family: "futura future";
  src: url("/images/fonts/futura.ttf");
} /*Retro 80s future style font. Pretty niche usage */
@font-face {
  font-family: "menlo";
  src: url("/images/fonts/menlo.ttf");
} /* Monospaced font that we use in Atom. Good for showing code blocks or simple monospace*/
@font-face {
  font-family: "YT sans";
  src: url("/images/fonts/YT_font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} /* Youtube's offical and copyrighted font. Great replacement for Ubuntu font */


/* General styles */
body{
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: ubuntu, san francisco, Ariel, sans-serif;
}

/* Top styles */
name{
  display: block;
  font-family: YT sans, san francisco, futura, Ariel, sans-serif;
  letter-spacing: 2.5px;
  font-weight: 100;
  text-align: center;
  font-size: 60px;
}

/* List styles */
.projects-list{
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  margin: 60px 0;
}
.projects-list li a{
  color: #9c2020;
  text-decoration: none;
  font-family: YT sans;
  font-size: 30px;
}































/* space comment*/
