@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
@font-face {
  font-family: "futura heavy";
  src: url("/images/futura heavy font.ttf");
}

/* General styles */
body{
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
}
ul{
  list-style-type: none;
}
ul li a{
  font-size: 30px;
  color: #9c2020;
}
ul li a{
  cursor: alias;
}
