@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
@font-face {
  font-family: "futura heavy";
  src: url("/images/futura heavy font.ttf");
}

/* General styles */
body{
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: ubuntu;
}
.starting{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
  font-size: 30px;
}
.content{
  display: block;
  list-style-type: none;
  line-height: 1.3;
}
.content li{
  font-size: 20px;

}
.content li span{
  font-size: 30px;
  font-weight: 400;
}
