@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
@font-face {
  font-family: "futura heavy";
  src: url("/images/futura heavy font.ttf");
}

/* General styles */
body{
  margin: 0;
  padding: 0;
  font-family: ubuntu, san francisco, Ariel, sans-serif;
  color: #9c2020;
}

/* Page styles */
#page-title{
  text-align: center;
  font-family: san francisco, ubuntu, Ariel, sans-serif;
}
.content{
  width: 90%;
  margin: auto;
  line-height: 2;
}

/* Form styles */
#user_choice{
  margin-top: 20px;
  line-height: 1.5;
}
.user_choice{
  margin-left: 20%;
}
.user_choice input{
  cursor: pointer;
}

/* Button styles */
#my_button{
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 30px;
}
#button{
  color: white;
  background-color: #9c2020;
  border: 10px solid #9c2020;
  border-radius: 40px;
  font-size: 40px;
  display: inline;
  font-weight: 0;
}
#button:hover{
  color: #9c2020;
  background-color: white;
  border-color: white;
  cursor: pointer;
}

/* Display styles */
#result{
  text-align:center;
  font-size: 20px;
}
#password{
  font-family: san francisco, ubuntu, Ariel, sans-serif;
  font-size: 50px;
  font-weight: 600;
}
#listStore{
  list-style-type: none;
  font-size: 25px;
  font-family: Ariel, sans-serif;
}

/* Selection styles */
label::selection, input::selection, .user_choice::selection, #user_choice::selection, h1::selection, p::selection, #listStore li::selection{
  background-color: #9c2020;
  color: white;
}
#button:hover::selection{
  background-color: white;
  color: #9c2020;
}
#button::selection, #my_button::selection{
   background-color: none;
   color: white;
 }
