@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
@font-face {
  font-family: "futura heavy";
  src: url("/images/futura heavy font.ttf");
}

/* General styles */
body{
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #666666;
}
#button{
  display: block;
  margin: auto;
  text-align: center;
  width: 60%;
  background-color: white;
  color: #9c2020;
  margin-top: 50px;
  font-size: 50px;
  border: 15px solid #9c2020;
  border-radius: 25px;
  font-family: ubuntu, Ariel, sans-serif;
}
#button:hover{
  background-color: #9c2020;
  color: white;
  border: 15px solid white;
  border-radius: 25px;
  cursor: pointer;
}
#button::selection{
  background-color: #9c2020;
  color: white;
}
#my_solution{
  padding: 200px 0;
}
#party h1{
  display: inline;
  font-size: 400px;
  text-align: center;
  width: 19%;
}
#party{
  width: 100%;
  text-align: center;
}
#bottom-text{
  width: 80%;
  text-align: center;
  font-size: 10px;
}
